.press {
  display: contents;

  &__title {
    grid-area: press__title;
    border-bottom: $lime-line;
    box-sizing: border-box;
    margin: 0;
    padding: 50px;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }
  &__news-normal {
    margin: 0 0 263px 0;
    @include font(300, 30px, 42px);

    @media (max-width: $mobile-width-M) {
      margin-bottom: 150px;
    }

    @media (max-width: $mobile-width-M) {
      @include font(300, 16px, 27px);
    }
  }

  &__news-bold {
    font-weight: 400;
  }

  &__news {
    grid-area: press__news;
    @include border-line;
    border-top: $lime-line;
    margin: 0;
    padding: 50px 50px 50px;
    list-style: none;
    @media (max-width: $mobile-width-M) {
      border-left: none;
      padding: 20px;
    }
  }
  &__wrapper {
    display: flex;
    margin-top: -26px;
    margin-bottom: 0;
    list-style: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__circle-button {
    @include circle-button($file: "circle_btn_disabled.png");
  }

  &__circle-button_active {
    @include circle-button($file: "circle_btn_active.png");
  }
}
