@charset "UTF-8";
@import './vendor/normalize.css';
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/sourcesanspro.woff2") format("woff2"), url("./fonts/sourcesanspro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/sourcesansprolight.woff2") format("woff2"), url("./fonts/sourcesansprolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* @font-face {
  font-family: 'Source Sans Pro',;
  src: url("./fonts/sourcesanspro.woff2") format("woff2"),
    url("./fonts/sourcesanspro.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./fonts/sourcesansprolight.woff2") format("woff2"),
    url("./fonts/sourcesansprolight.woff") format("woff");
  font-weight: 300;
}*/
.page {
  font-family: "Source Sans Pro", Arial, sans-sarif;
  background-color: rgb(25, 29, 44);
  color: rgb(225, 253, 44);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "menu                    menu" "slide                   slide" "pros-cons__description  pros-cons__container" "gallery__slider-part1   gallery__slider-part2" "press__title            press__news" "subscription__form      subscription__logo";
}
@media (max-width: 1280px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

.сontent {
  display: contents;
}

.menu {
  display: flex;
  justify-content: space-between;
  grid-area: menu;
  padding: 16px 50px;
  align-items: center;
  border-bottom: 1px solid #e1fd2c;
}
@media (max-width: 1280px) {
  .menu {
    padding: 16px 0;
  }
}
@media (max-width: 1280px) {
  .menu__nav {
    display: none;
  }
}
.menu__nav-list {
  display: flex;
  position: relative;
  margin: 0 397px 0 0;
  padding: 0;
  list-style: none;
}
.menu__nav-item {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 16px;
  color: rgb(225, 253, 44);
}
.menu__nav-item:not(:last-child) {
  margin-right: 20px;
}
.menu_nav-link {
  color: rgb(225, 253, 44);
  text-decoration: none;
  text-align: center;
  line-height: 16px;
  padding: 0;
}
.menu_nav-link:hover {
  opacity: 0.6;
}

.logo {
  display: flex;
  background-image: url(../../../images/auto-magazine.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 184px;
  height: 38px;
}
@media (max-width: 1280px) {
  .logo {
    margin-left: auto;
    margin-right: 232px;
  }
}

@media (max-width: 1280px) {
  .logo_type_footer {
    margin-right: 0;
  }
}

.hamburger {
  display: none;
}

.burger {
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url(../../../images/icons8-menu.svg) no-repeat center;
  background-size: contain;
  background-position: center;
  margin: 0 34px 0 0;
  padding: 0;
  border: none;
  background-color: rgb(25, 29, 44);
}

.burger_active {
  background-image: url(../../../images/close_btn.svg) no-repeat center;
  background-size: contain;
}

.slide {
  grid-area: slide;
  display: grid;
  padding: 150px 0 150px 80px;
  border-bottom: 1px solid #e1fd2c;
  grid-template-columns: 560fr 80fr 720fr;
  grid-template-rows: 58px 30px 219px 51px 28px 60px auto;
}
@media (max-width: 1280px) {
  .slide {
    align-items: center;
    padding: 100px 0 100px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 28px 30px 219px 51px 28px 100px auto 100px 64px;
  }
}
.slide__brand {
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin: 30px 0 0;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .slide__brand {
    margin: 0 auto;
  }
}
.slide__title {
  grid-row: 3/4;
  grid-column: 1/2;
  font-weight: 400;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
  margin: 0;
}
@media (max-width: 1280px) {
  .slide__title {
    max-width: 560px;
    margin: 0 auto;
  }
}
.slide__subtitle {
  grid-row: 5/6;
  grid-column: 1/2;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.slide__button {
  grid-row: 7/8;
  grid-column: 1/2;
  width: 360px;
  height: 64px;
  align-self: flex-end;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #e1fd2c;
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-sizing: border-box;
  align-self: flex-start;
}
@media (max-width: 1280px) {
  .slide__button {
    grid-row: 9/10;
  }
}
.slide__photo {
  grid-row: 1/8;
  grid-column: 3/4;
  aspect-ratio: 720/540;
}
@media (max-width: 1280px) {
  .slide__photo {
    grid-row: 7/8;
    grid-column: 1/2;
    margin: 0 auto;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .slide__photo {
    aspect-ratio: 700/510;
    min-width: 700px;
    min-height: 510px;
  }
}
@media (max-width: 710px) {
  .slide__photo {
    aspect-ratio: 700/510;
  }
}

.pros-cons {
  display: contents;
}
@media (max-width: 1280px) {
  .pros-cons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 421fr, 768fr;
    align-items: center;
  }
}
.pros-cons__description {
  grid-area: pros-cons__description;
  padding: 41px 50px 45px;
  border-bottom: 1px solid #e1fd2c;
  box-sizing: content-box;
}
@media (max-width: 1280px) {
  .pros-cons__description {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.pros-cons__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  min-width: 668px;
}
.pros-cons__container {
  grid-area: pros-cons__container;
  display: flex;
  border-bottom: 1px solid #e1fd2c;
}
@media (max-width: 1280px) {
  .pros-cons__container {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.pros-cons__wrapper {
  width: 50%;
  border-left: 1px solid #e1fd2c;
  padding-left: 50px;
}
.pros-cons__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2px;
  margin: 41px 69px 50px 0;
}
.pros-cons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pros-cons__item {
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}
.pros-cons__item:not(:last-child) {
  margin-bottom: 2px;
}

.gallery {
  display: contents;
  border: 1px solid #e1fd2c;
}
.gallery__photo {
  display: flex;
  aspect-ratio: 720/540;
}
@media (max-width: 1280px) {
  .gallery__photo {
    margin: 35px auto 50px;
  }
}
@media (max-width: 1024px) {
  .gallery__photo {
    aspect-ratio: 700/510;
  }
}
.gallery__container {
  display: flex;
  justify-content: space-between;
  margin: 49px 0;
}
.gallery__title {
  padding-left: 50px;
  margin: 0;
}
.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery__slider-part1 {
  grid-area: gallery__slider-part1;
  border-bottom: 1px solid #e1fd2c;
}
.gallery__button {
  width: 42px;
  height: 32px;
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
}
.gallery__button_dir_left {
  background-image: url(../../../images/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}
.gallery__button_dir_right {
  background-image: url(../../../images/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 52px;
}
.gallery__slider-part2 {
  grid-area: gallery__slider-part2;
  border-left: 1px solid #e1fd2c;
  border-bottom: 1px solid #e1fd2c;
}

.section-title {
  font-size: 46px;
  font-weight: 400;
  line-height: 46px;
  margin: 0;
}

.press {
  display: contents;
}
.press__title {
  grid-area: press__title;
  border-bottom: 1px solid #e1fd2c;
  box-sizing: border-box;
  margin: 0;
  padding: 50px;
}
@media (max-width: 1280px) {
  .press__title {
    display: none;
  }
}
.press__news {
  grid-area: press__news;
  padding: 50px 50px 50px;
  border-left: 1px solid #e1fd2c;
  border-bottom: 1px solid #e1fd2c;
}
.press__news-normal {
  margin: 0 0 263px 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: 300;
}
.press__news-bold {
  font-weight: 400;
}
.press__container {
  display: flex;
  justify-content: space-between;
}
.press__circle-button {
  background-image: url(../../../images/circle_btn_disabled.png);
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: contain;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  padding: 0;
  border: none;
  margin-right: 12px;
}
.press__circle-button_active {
  background-image: url(../../../images/circle_btn_active.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}
.press__button {
  background-image: url(../../../images/ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
  color: inherit;
  padding: 0;
  border: none;
  width: 110px;
  height: 52px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 459 px;
}

.subscription {
  display: contents;
}
@media (max-width: 1280px) {
  .subscription {
    display: flex;
    justify-content: space-between;
  }
}
.subscription__form {
  grid-area: subscription__form;
  border-right: 1px solid #e1fd2c;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .subscription__form {
    border: none;
  }
}
.subscription__title {
  margin: 0;
}
.subscription__subtitle {
  margin: 16px 0 64px 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
}
.subscription__logo {
  grid-area: subscription__logo;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.subscription__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
}

.form {
  margin-left: 0;
}
.form__container {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  border: none;
  display: flex;
  flex-direction: column;
}
.form__wrapper {
  width: 100%;
}
.form__input {
  display: inline;
  width: 169px;
  height: 32px;
  padding: 7px 0 7px 11px;
  border: none;
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  float: left;
  font-size: 9px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__input::-moz-placeholder {
  color: #e1fd2c;
}
.form__input:-ms-input-placeholder {
  color: #e1fd2c;
}
.form__input::placeholder {
  color: #e1fd2c;
}
.form__name {
  border: 1px solid #e1fd2c;
}
.form__surname {
  border-top: 1px solid #e1fd2c;
  border-right: 1px solid #e1fd2c;
  border-bottom: 1px solid #e1fd2c;
}
.form__email {
  width: 260px;
  border-bottom: 1px solid #e1fd2c;
  border-left: 1px solid #e1fd2c;
}
.form__button {
  width: 80px;
  height: 32px;
  background-color: #e1fd2c;
  border-left: 1px solid #e1fd2c;
  box-sizing: border-box;
  text-align: center;
  border: none;
  padding: 0;
  color: rgb(25, 29, 44);
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */