$font-family: "Source Sans Pro";
$main-color: rgba(225, 253, 44, 1);
$bgr-color: rgba(25, 29, 44, 1);
$lime-line: 1px solid #e1fd2c;
$desktop-width: 1280px;
$tablet-width: 1024px;
$mobile-width-L: 767px;
$mobile-width-M: 570px;
$mobile-width-S: 425px;
